body{
    display: flex;
    
    justify-content: center;
    align-items: center;
    background-color: azure;
}

label{
line-height: 2.5;
font-size: 23px ;
color: rgb(88, 87, 87);

}

input{
    width: 50%;
    height: 20px;
}
select{
    font-size: 18px;
}

.div{
    border: 2px solid;
    border-color: blue;
    border-radius: 20px;
    box-sizing: border-box;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif ;
    background-color: rgb(208, 242, 255);
}

.div2{
    position: absolute;
    top: 0;
    left: 63%;
}

button{
    margin-bottom: 1rem;
    height: 35px;
    width: 90px;
    font-size: 18px;
    
    
}